@import url(https://fonts.googleapis.com/css?family=Lora);
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14;
    line-height: 1.6em;
    margin: 0px
}
div.search-engine {
    text-align: left;
    margin-top: 10px;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.search-engine img {
    width: 100px;
    margin: 15px;
}
figure.desk_ficture {
    text-align: center;
    margin-top: 100px;  
    width: 600px;  
    margin: 30px auto;
    padding: 50px;
}
nav {
    text-align: center;
    font-size: 14;
    margin-bottom: 100px;

}
nav a {
    background-color: cornflowerblue;
    color: darkorange;
}
a {
    text-decoration: none;
}
/* 링크 밑줄 제거 */

body {
    margin: 0px;

}
/* 기본적으로 body에는 margin이 붙어있다. body 아래 div를 100%로 하는 경우에 , body가 가장 끝자락으로 밀려 마진이 적용되기 때문에 여백이 생긴다. */
/* 이떄, body 자체 마진을 0으로 해주어야 이 문제가 해결된다. 이렇듯 css에 default값으로 설정되어있는 부분을 초기화 하려고 css reset을 받아 사용하기도 한다. */
.custom-shape-divider-top-1640153309 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640153309 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1640153309 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1640153309 {
    position: relative;
    top: 0px;
    width: 100vw;
    height: 70vh;
    background-image: linear-gradient(to top, #f89305, #ff4e3e, #ff0076, #cd00b7, #0e3aeb);


/* 기본적으로 body에는 margin이 붙어있다. body 아래 div를 100%로 하는 경우에 , body가 가장 끝자락으로 밀려 마진이 적용되기 때문에 여백이 생긴다. */
/* 이떄, body 자체 마진을 0으로 해주어야 이 문제가 해결된다. 이렇듯 css에 default값으로 설정되어있는 부분을 초기화 하려고 css reset을 받아 사용하기도 한다. */
.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}