.container {
    display: flex;
    border: 1px solid black;
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 400px;
    width: 200px;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;

}
.img_box {
    border: 1px solid black;
    border-radius: 5px;
    height: 60%;
    width: 100%;
    background-image: url('/My_home_page/img2/headset.jpg');
    background-size: cover;
    background-repeat : no-repeat;
}
