.card_background {
    height: 1900px;
    margin-top: 500px;
    margin-bottom: 1600px;
}
.card_box {
    position: sticky;
    top: 400px;
}

.card_box img {
    display: block;
    margin: auto;
    max-width: 80%;
    
}
.turn_opacity {
    opacity: 0;
    transition: all 1s;
}
